/* General */
$fontSize: 16px;
$borderRadius: 12px;
$transitionDuration: 0.2s;
$topBarHight: 3.125rem;
$mainLayoutTopPadding: 4rem;
$titleCardHeight: calc(calc(1.25rem * 4) + 2rem + 1.75rem);

// Screen Sizes
$smallScreen: 640px;
$mediumScreen: 768px;
$largeScreen: 1024px;
$xLargeScreen: 1280px;
$xxLargeScreen: 1536px;
