<section class="verify-reset-password-container">
  <div class="verify-reset-password-card-outline">
    <div class="verify-reset-password-card">
      <header>
        <img src="assets/images/Skarla Logo.svg" alt="Skarla Logo" />
        <h1 class="title" i18n>Create New Password</h1>
        <p class="subtitle" i18n>
          Please check your email and enter the token.
        </p>
      </header>

      <form
        class="verify-reset-password-form"
        [formGroup]="verifyResetPasswordForm"
      >
        <div class="input-group">
          <label for="token" class="label" i18n>Token</label>
          <input
            id="token"
            name="token"
            type="text"
            pInputText
            class="input"
            formControlName="token"
          />
          <div class="error-container">
            <ng-container
              *ngIf="
                verifyResetPasswordForm.controls['token'].touched &&
                verifyResetPasswordForm.controls['token'].invalid
              "
            >
              <p
                class="text-error-validation"
                *ngIf="
                  verifyResetPasswordForm.controls['token'].errors!['required']
                "
                i18n
              >
              Please enter the token that we had sent you. 
              </p>
            </ng-container>
          </div>
        </div>

        <div class="input-group">
          <label for="password" class="label" i18n>New Password</label>
          <!-- styleClass is a weird workaround for fixing style issues with p-password component using reactive forms -->
          <p-password
            id="password"
            name="password"
            formControlName="password"
            [feedback]="false"
            [toggleMask]="true"
            styleClass="p-password p-input-icon-right"
          ></p-password>
          <div class="error-container">
            <ng-container
              *ngIf="
                verifyResetPasswordForm.controls['password'].invalid &&
                verifyResetPasswordForm.controls['password'].touched
              "
            >
              <p
                class="text-error-validation"
                *ngIf="
                  verifyResetPasswordForm.controls['password'].errors![
                    'required'
                  ]
                "
                i18n
              >
                Password is required
              </p>
            </ng-container>
          </div>
        </div>
        <div class="input-group">
          <label for="validatePassword" class="label" i18n
            >Re-enter Password
          </label>
          <!-- styleClass is a weird workaround for fixing style issues with p-password component using reactive forms -->
          <p-password
            id="validatePassword"
            name="validatePassword"
            formControlName="validatePassword"
            [feedback]="false"
            [toggleMask]="true"
            styleClass="p-password p-input-icon-right"
          ></p-password>
          <div class="error-container">
            <ng-container
              *ngIf="
                verifyResetPasswordForm.controls['validatePassword'].invalid &&
                verifyResetPasswordForm.controls['validatePassword'].touched &&
                verifyResetPasswordForm.controls['validatePassword'].errors
              "
            >
              <p
                class="text-error-validation"
                *ngIf="
                  verifyResetPasswordForm.controls['validatePassword'].errors[
                    'required'
                  ]
                "
                i18n
              >
                Please re-enter password.
              </p>
            </ng-container>
            <ng-container
              *ngIf="
                verifyResetPasswordForm.errors &&
                verifyResetPasswordForm.errors['passwordMismatch'] &&
                verifyResetPasswordForm.controls['validatePassword'].valid
              "
            >
              <p class="text-error-validation" i18n>
                Please make sure the password match.
              </p>
            </ng-container>
          </div>
        </div>

        <button
          type="submit"
          pButton
          pRipple
          label="Change Password"
          (click)="verifyResetPassword()"
          [disabled]="verifyResetPasswordForm.invalid"
          i18n-label
        ></button>

        <a [routerLink]="['/auth/login']" class="end-link" i18n
          >Go back to login</a
        >
      </form>
    </div>
  </div>
</section>
