<div class="grid p-fluid">
  <div class="col-12 lg:col-6">
    <div class="card">
      <h5 i18n>Products Sales</h5>
      <p-chart type="line" [data]="lineData" [options]="lineOptions"></p-chart>
    </div>
  </div>
  <div class="col-12 lg:col-6">
    <div class="card">
      <h5 i18n>Packages Sales</h5>
      <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
    </div>
  </div>
</div>
<div class="pie-chart col-6">
  <div class="card flex flex-column align-items-center">
    <h5 i18n>Pulled Codes</h5>
    <p-chart type="pie" [data]="pieData" [options]="pieOptions"></p-chart>
  </div>
</div>
