@import "src/assets/sass/layout/mixins.scss";

// Mixins
.column-label-input {
    @include column-label-input();
    margin-bottom: 1rem;
}

.info-pair {
    @include info-pair();

    .title {
        min-width: 25ch;
    }

    margin-bottom: 1rem;
}



.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


:host ::ng-deep {

    .details-card {
        margin-top: 2rem;
    }
}