@import "src/assets/sass/layout/_mixins.scss";

.column-label-input {
  @include column-label-input();
  margin-bottom: 1rem;
}

h5 {
  margin: unset;
}

.info-pair {
  @include info-pair();
  margin-bottom: 1rem;
}