@import "src/assets/sass/layout/_mixins.scss";
.product-item {
  .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 5px;
    text-align: center;
    padding: 1rem 0;
  }

  .product-image {
    max-width: 10rem;
    max-height: 10rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 1rem;
  }
}
.column-label-input {
  @include column-label-input();
  margin-bottom: 2rem;
}
.info-pair {
  @include info-pair(1.1rem);
  margin-bottom: 2rem;
}
.flex-wrapper {
  display: flex;

  > * {
    width: 100%;
  }

  .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: min(300px, 30rem);
    padding: 1rem;

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 5px;
      border: 1px solid var(--theme-primary-100);
    }
  }
  .font-weight-bold {
    font-weight: bold;
  }
}
