.input-filter {
  width: 150px;
}

.top-row-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .filters-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media screen and (min-width: 600px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .filters-container {
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
  }

  @media screen and (min-width: 700px) {
    justify-content: space-between;
    align-items: center;
    .filters-container {
      gap: 1rem;
    }
  }
}
