.layout-wrapper {
  background-color: #edf1f5;
  background-image: radial-gradient(#9fade0 0.75px, transparent 0.75px), radial-gradient(#9fade0 0.75px, #edf1f5 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}
